
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="home" href="/tabs/home">
    cd ..  <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="suprimento" href="/tabs/suprimento">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Suprimento</ion-label>
    </ion-tab-button> -->


    <ion-tab-button tab="home" layout="icon-top">
      <ion-note>Home</ion-note>
      <ion-icon name="home"></ion-icon>
      <!-- <ion-icon name="flash"></ion-icon> -->
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="suprimento" layout="icon-top">
      <ion-note>Caixa</ion-note>
      <ion-icon name="cash"></ion-icon>
      <!-- <ion-label>Suprimento</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="pedidos" layout="icon-top">
      <ion-note>Pedidos teste</ion-note>
      <ion-icon name="storefront"></ion-icon>
      <!-- <ion-label>Suprimento</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
